:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  background-color: oklch(97% .014 254.604);
}



@media (prefers-color-scheme: light) {}